.header{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #eee;
}
.header .left{
    float: left;
}
.header .left .user.login{
    display: none;
}
.header .right{
    float: right;
}
.link:hover{
    color: #c60023;
}
/* 面包屑导航 */
.crumbs{
    margin-bottom: 15px;
    height: 50px;
    line-height: 50px;
    background: #eee;
    color: #888;
    font-size: 14px;
    border-top: 2px solid #c60023;
}
.crumbs a,.crumbs span{
    color: #888;
}
/* panel */
.panel{
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
}
.panel .panel-title{
    padding: 10px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}
.panel .panel-body{
    padding: 10px;
    overflow: hidden;
}
