.header{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #eee;
}
.header .left{
    float: left;
}
.header .left .user.login{
    display: none;
}
.header .right{
    float: right;
}
.link:hover{
    color: #c60023;
}
