.header-simple{
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.header-simple .logo{
    margin-right: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}
.page-wrap{
    padding: 40px 0;
}
.page-wrap .user-con{
    position: relative;
    margin: 0 auto;
    width: 400px;
    background: #fff;
}
.user-con .user-title{
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: #666;
}
.user-con .user-box{
    padding: 20px;
}
/* 错误信息提示框 */
.user-con .user-box .err-item{
    position: relative;
    padding: 4px 0 4px 40px;
    margin-bottom: 10px;
    border: 1px solid red;
    background: #fde9e9;
    color: red;
    display: none;
}
/* 错误图标样式 */
.user-con .user-box .err-item .err-icon{
    position: absolute;
    top: 50%;
    left: 14px;
    margin-top: -7px;
    font-size: 14px;
}
/* 每一步 */
.user-con .user-box .step-con{
    display: none;
}
.user-con .user-box .step-con .user-item-text{
    margin-bottom: 10px;
    font-size: 14px;
}
/* 输入框容器 */
.user-con .user-box .step-con .user-item{
    position: relative;
    margin-bottom: 20px;
}
.user-con .user-box .step-con .user-item .user-label{
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    width: 40px;
    line-height: 36px;
    background: #f3f3f3;
    color: #d3d3d3;
    font-size: 18px;
    text-align: center;
    border-right: 1px solid #bdbdbd;
}
.user-con .user-box .step-con .user-item .user-content{
    padding: 10px 0 10px 50px;
    width: 308px;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    border: 1px solid #bdbdbd;
    outline: none;
}
.user-con .user-box .btn-submit{
    padding: 2px 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.user-con .user-box .link-item{
    margin-top: 10px;
    text-align: right;
    color: #999;
}
.user-con .user-box .link-item .link{
    margin-left: 10px;
    color: #999;
}