<div class="header">
    <div class="w">
        <div class="left">
            <a href="./login.html" class="link">登录</a>
            <a href="./register.html" class="link">注册</a>
            <a href="./result.html" class="link">退出</a>
        </div>
        <ul class="right">
            <li>
                <a href="./cart.html" class="link">
                    <i class="fa fa-shopping-cart"></i>
                    购物车(<span class="count">0</span>)
                </a>
            </li>
            <li>
                <a href="./order.html" class="link">我的订单</a>
            </li>
            <li>
                <a href="./user-center.html" class="link">我的MMall</a>
            </li>
            <li>
                <a href="./about.html" class="link">关于MMall</a>
            </li>
        </ul>
    </div>
</div>