*{
    padding: 0;
    margin: 0;
}
body{
    background: #f6f6f6;
    font: 12px/1.5 tahoma,arial,Microsoft YaHei,sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}
img{
    display: block;
    border: none;
}
label{
    cursor: pointer;
}
table{
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
input{
    outline: none;
}
.w{
    width: 1080px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
/* h1 */
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
/* 简单头部样式,只有一个MMall */
.header-simple{
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.header-simple .logo{
    margin-right: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}
/* panel */
.panel{
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
}
.panel .panel-title{
    padding: 10px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}
.panel .panel-body{
    padding: 10px;
    overflow: hidden;
}
.hide{
    display: none;
}
.btn{
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    background: #c60023;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.btn-mini{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
}
.clear{
    clear: both;
}
.footer{
    text-align: center;
    margin-top: 10px;
    line-height: 40px;
    color: #666;
}
.footer a{
    margin: 0 15px;
}
.loading{
    margin: 10px auto;
    display: block;
    width: 65px;
    height: 65px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: url(../../image/icon/loading.gif) no-repeat;
    opacity: .6;
}
.link{
    text-decoration: none;
    color: #999;
    cursor: pointer;
}
.link-text{
    color: #999;
    text-decoration: none;
}
.link:hover{
    color: #e80012;
}