*{
    padding: 0;
    margin: 0;
}
body{
    background: #f6f6f6;
}
.w{
    width: 1080px;
    margin: 0 auto;
}
.link{
    text-decoration: none;
    color: #666;
}
.link:hover{
    color: #c60023;
}
li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}
.btn{
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: #c60023;
    border: none;
    outline: none;
}
input{
    outline: none;
}
.clear{
    clear: both;
}
.footer{
    text-align: center;
    margin-top: 10px;
    line-height: 40px;
    color: #666;
}
.footer a{
    margin: 0 15px;
}
